
<div class="row" style="padding: 10px 5px; background-color: chocolate">
  <div class="col-md-6">
    <a *ngFor="let localState of localStates" [uiSref]="localState.state">
      <button class="btn btn-default ml-1 mr-1">{{localState.title}}</button>
    </a>
  </div>
  <div class="col-md-6">
    <button class="btn btn-primary ml-1 mr-1">Log In</button>
    <button class="btn btn-warning ml-1 mr-1">Sign Up</button>
  </div>
</div>

<ui-view></ui-view>
